@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

/*----------Navbar----------*/

.navbar-bg {
  background-color: rgb(212, 81, 81);
}

.navbar {
  font-family: "Merriweather", serif;
  height: 60px;
}

nav > .active {
  font-size: 100px;
}

/*----------Home page----------*/

.row {
    text-align: center; 
}

.cards {
    background-color: grey;
    border: 2px solid red;
    cursor: pointer;
    display: inline-block;
    height: 170px;
    width: 25%;
}

.cards:hover {
    border: 2px solid #fafafa;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.color-hidden {
    background-color: #fafafa;
}

/*----------Support----------*/

.support-section-bg-color {
  background-color: rgb(231, 231, 231);
}

.support-heading {
  font-family: "Merriweather", serif;
  font-weight: 300;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 20px;
}

.support-text-div > h3 {
  width: 60%;
}

.center-form {
  margin: 0 auto;
  max-width: 70%;
  padding-top: 10px;
}

.support-input-bar {
  margin-bottom: 10px;
  margin-top: 10px;
}

/*----------Footer----------*/

.page-footer {
  background-color: rgb(212, 81, 81);
}

.page-footer > div {
  color: #fafafa;
  font-family: "Merriweather", serif;
  text-align: center;
}

.footer-icons {
  color: green;
}
